<div class = "container">

  <div class = "row">
    <td valign ="middle">
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品閲覧はできますが、<br>
      購入には会員登録が必要になります。
    </td>

  </div>
  <div class = "row">
     <h5 class = "bg-light">新着商品</h5>
  </div>
  <div class = "row">
    <table>
      <tr>
        <td><%= @itemf.name %></td>
      </tr>
      <tr>
        <td><%= @itemf.add_tax_price.to_s(:delimited) %>円</td>
      </tr>
    </table>
  </div>

</div>