<div class = "container">
  <div class = "row">
    <h5 class = "bg-light"><%= @customerf.full_name %>さんの会員詳細</h5>
    
    <table>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      
    </table>
  </div>
</div>