<!--顧客側「新規会員登録画面」-->
<div class = "container">
  <div class = "row">
    <!--新規会員登録ページのタイトル-->
    <h5 class = "bg-light">新規会員登録</h5>
  </div>
</div>
<%= render "public/shared/error_messages",resource: resource %>
